- @questions.each do |question|
  .question_list
    =Question.new.meth
    = link_to question.quesbox, question
    - if current_user == question.user
      = link_to 'Edit', edit_question_path(question), class: "btn btn-primary btn-xs"
      = link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-xs"
%br/
= link_to 'Create Question', new_question_path, class: "btn btn-primary btn-xs"

