.col-lg-3
.col-lg-6
  = form_for([@question, @commentable]) do |f|
    -com_error_messages
    .field
      = f.label :Comments
      %br/
      = f.text_area :comment,class: "form-control",:rows => 7
        - if params[:answer_id].present?
        =hidden_field_tag :answer_id, params[:answer_id]
    %br/
    .actions
      = f.submit "Create Comment", :class => "btn btn-primary"
.col-lg-3
